/* *{
    margin: 0;
    border: 1px solid red;
    padding: 0;

} */

a{
    color: black;
    text-decoration: none;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #b1dff1;
}

button{
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.btn{
    display: flex;
    padding : 10px;
    justify-content: center;
    align-items: center;
}

.blog{
    background-color: #deb887;
}

.case-studies{
    background-color: beige;
}

.me{
    background-color: #E0B0FF;
}

.blog:hover{
    background-color: pink;
    cursor: pointer;
}

.case-studies:hover{
    background-color: pink;
    cursor: pointer;
}

.me:hover{
    background-color: pink;
    cursor: pointer;
}

.signup-form{
    border: #daa520 5px dashed;
    padding: 0;
    position: relative;
    padding: 20px;
    padding-top: 0;
    width: 600px;
    height: 325px;
}

.signup-form>h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0 0 10px;
}

.form-btn{
    padding: 10px 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2d5534;
}
input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.login-form{
    border: goldenrod 5px dashed;
    padding: 0;
    position: relative;
    padding: 20px;
    padding-top: 0;
    width: 600px;
    height: 250px;
}

.navbar{
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: transparent;
    position: fixed;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.logo>a>button{
    padding: 15px;
    background-color: lightcoral;
}

.logo>a>button:hover{
    padding: 5px;
    font-size: larger ;
    background-color: rgb(128, 199, 240);
}

img{
    width: 60px;
    height: 60px;
}

.register{
    padding: 5px;
}


.register>button{
    padding: 10px;
}

.register>button:hover{
    padding: 10px;
    font-size: larger ;
}

.content>button{
    padding: 10px;
    background-color: beige;
}

.content>button:hover{
    padding: 10px;
    font-size: larger ;
    background-color: #ffebcd;
}